[Unit]
Description=Bluefora First Run Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/lib/bluefora/firstrun.sh
ConditionPathExists=/etc/bluefora.firstrun

[Install]
WantedBy=multi-user.target
